<link href="~/css/dashboard.css" rel="stylesheet" />
<!-- MDB CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha384-xxxxxxxxxxxxxxxxxxxxxxxxxx" crossorigin="anonymous">
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Loan Form</h5>
        <section class="section">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-4 mb-4">
                                        <!-- Name input -->
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="txtName" class="form-control" />
                                            <label class="form-label" for="txtName">Customer Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">

                                        <div data-mdb-input-init class="form-outline">
                                            <input type="number" id="numMoblie" class="form-control" />
                                            <label class="form-label" for="numMoblie">Mobile Number</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">

                                        <div data-mdb-input-init class="form-outline">
                                            <i class="fas fa-camera fa-lg"></i>
                                            <input type="file" id="fileIdentity" class="form-control" placeholder="Upload Photo" />

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mb-4">

                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="txtcostomerdocument" class="form-control" />
                                            <label class="form-label" for="txtcostomerdocument">Customer Document</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">

                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="txtSpounseName" class="form-control" />
                                            <label class="form-label" for="txtSpounseName">Spounse Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="txtspounseidproof" class="form-control" />
                                            <label class="form-label" for="txtspounseidproof">Spounse Identity Proof</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mb-4">

                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="txtVillage" class="form-control" />
                                            <label class="form-label" for="txtVillage">Village</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <!-- Email input -->
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="number" id="numAccountNumber" class="form-control" />
                                            <label class="form-label" for="numAccountNumber">Account Number</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">

                                        <div data-mdb-input-init class="form-outline">
                                            <input type="number" id="numConformAccountNumber" class="form-control" />
                                            <label class="form-label" for="numConformAccountNumber">Conform Accouont </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mb-4">

                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="txtbankname" class="form-control" />
                                            <label class="form-label" for="txtbankname">Bank Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <!-- Email input -->
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="txtbankbranch" class="form-control" />
                                            <label class="form-label" for="txtbankbranch"> Bank Branch Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="txtIFSC" class="form-control" />
                                            <label class="form-label" for="txtIFSC">Bank IFSC Code</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="number" id="numloanamount" class="form-control" />
                                            <label class="form-label" for="numloanamount">Loan Amount</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="number" id="numloanamount" class="form-control" />
                                            <label class="form-label" for="numloanamount">Loan Amount Recived</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="number" id="numweek" class="form-control" />
                                            <label class="form-label" for="numweek">Week</label>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-md-4 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="number" id="numweeklyamount" class="form-control" />
                                            <label class="form-label" for="numweeklyamount">Week Amount</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="txtcompanybranch" class="form-control" />
                                            <label class="form-label" for="txtcompanybranch">Company Branch</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input type="text" id="txtbranchCenter" class="form-control" />
                                            <label class="form-label" for="txtbranchCenter">Branch'S Center</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <input type="date" id="datecreated" class="form-control" />
                                    </div>
                                </div>
                                <div class="mt-4 pt-2">
                                    <input data-mdb-ripple-init class="btn btn-primary btn-lg" id="btnsubmit" onclick="return fillloanform();" type="button" value="Submit" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<!-- MDB JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>

<script>
    // Initialization for ES Users
    import { Input, initMDB } from "mdb-ui-kit";

    initMDB({ Input });
</script>