
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Loan Deatils</h5>
        <section class="section">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <a asp-action="" asp-controller="" title="View" class="btn-sm btn-primary bx-pull-right"><i class="bi bi-eye icon-with-eyes"></i></a>
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                       <th>Center Id</th>
                                       <th>Center Name</th>
                                       <th>Total Member</th>
                                       <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
